demo/nodered/communication/Server_FullDemo.json
[
    {
        "id": "6a1e2a5443d1ef06",
        "type": "tab",
        "label": "Server Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b46ce431606c4bd",
        "type": "group",
        "z": "6a1e2a5443d1ef06",
        "name": "MQTT",
        "style": {
            "stroke": "#000000",
            "fill": "#b797cf",
            "fill-opacity": "0.48",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "46a760133cbe4cee",
            "2270983f9675ee59",
            "c8d3afccbd76310d"
        ],
        "env": [],
        "x": 54,
        "y": 409,
        "w": 512,
        "h": 82
    },
    {
        "id": "0dee80653370f917",
        "type": "group",
        "z": "6a1e2a5443d1ef06",
        "name": "TCP",
        "style": {
            "stroke": "#000000",
            "fill": "#a4a4a4",
            "fill-opacity": "0.52",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "70831c756647a506",
            "a5fd560d66c3bd72",
            "44bb17f39e84b03f"
        ],
        "env": [],
        "x": 54,
        "y": 139,
        "w": 512,
        "h": 82
    },
    {
        "id": "00e3c36f97572605",
        "type": "group",
        "z": "6a1e2a5443d1ef06",
        "name": "UDP",
        "style": {
            "stroke": "#000000",
            "fill": "#a4a4a4",
            "fill-opacity": "0.52",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8a17ad675a2e608d",
            "75a7837890341d76",
            "918bfcaeef1d2c2b"
        ],
        "env": [],
        "x": 54,
        "y": 49,
        "w": 512,
        "h": 82
    },
    {
        "id": "1347d817486d5177",
        "type": "group",
        "z": "6a1e2a5443d1ef06",
        "name": "HTTP",
        "style": {
            "stroke": "#000000",
            "fill": "#ffff7f",
            "fill-opacity": "0.51",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4cc2f1b99d834f82",
            "11728fcf8a3ecd97",
            "edd9e9fe461e3454"
        ],
        "env": [],
        "x": 54,
        "y": 319,
        "w": 512,
        "h": 82
    },
    {
        "id": "734f1e04df832bc3",
        "type": "group",
        "z": "6a1e2a5443d1ef06",
        "name": "Websocket",
        "style": {
            "stroke": "#000000",
            "fill": "#ffff7f",
            "fill-opacity": "0.49",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "df3380b5df0c102e",
            "2d3332694e91b9ef",
            "acf91b1ca16a05cd"
        ],
        "env": [],
        "x": 54,
        "y": 229,
        "w": 512,
        "h": 82
    },
    {
        "id": "9ec41186cf8390e2",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "192.168.178.100",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8d108b6fe6b9bd17",
        "type": "websocket-listener",
        "path": "/ws/remote/in",
        "wholemsg": "false"
    },
    {
        "id": "46a760133cbe4cee",
        "type": "mqtt in",
        "z": "6a1e2a5443d1ef06",
        "g": "0b46ce431606c4bd",
        "name": "MQTT In",
        "topic": "nodered/remote/ping",
        "qos": "2",
        "datatype": "auto",
        "broker": "9ec41186cf8390e2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 450,
        "wires": [
            [
                "c8d3afccbd76310d"
            ]
        ]
    },
    {
        "id": "2270983f9675ee59",
        "type": "mqtt out",
        "z": "6a1e2a5443d1ef06",
        "g": "0b46ce431606c4bd",
        "name": "MQTT Out",
        "topic": "nodered/remote/pong",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9ec41186cf8390e2",
        "x": 470,
        "y": 450,
        "wires": []
    },
    {
        "id": "70831c756647a506",
        "type": "tcp in",
        "z": "6a1e2a5443d1ef06",
        "g": "0dee80653370f917",
        "name": "TCP In",
        "server": "server",
        "host": "",
        "port": "2893",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "44bb17f39e84b03f"
            ]
        ]
    },
    {
        "id": "a5fd560d66c3bd72",
        "type": "tcp out",
        "z": "6a1e2a5443d1ef06",
        "g": "0dee80653370f917",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "name": "TCP Out",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "8a17ad675a2e608d",
        "type": "udp in",
        "z": "6a1e2a5443d1ef06",
        "g": "00e3c36f97572605",
        "name": "UDP In",
        "iface": "",
        "port": "2891",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 130,
        "y": 90,
        "wires": [
            [
                "75a7837890341d76"
            ]
        ]
    },
    {
        "id": "75a7837890341d76",
        "type": "change",
        "z": "6a1e2a5443d1ef06",
        "g": "00e3c36f97572605",
        "name": "PONG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PONG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 90,
        "wires": [
            [
                "918bfcaeef1d2c2b"
            ]
        ]
    },
    {
        "id": "918bfcaeef1d2c2b",
        "type": "udp out",
        "z": "6a1e2a5443d1ef06",
        "g": "00e3c36f97572605",
        "name": "UPD Out",
        "addr": "192.168.178.100",
        "iface": "",
        "port": "2892",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 480,
        "y": 90,
        "wires": []
    },
    {
        "id": "4cc2f1b99d834f82",
        "type": "http in",
        "z": "6a1e2a5443d1ef06",
        "g": "1347d817486d5177",
        "name": "HTTP In",
        "url": "/remote/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "edd9e9fe461e3454"
            ]
        ]
    },
    {
        "id": "11728fcf8a3ecd97",
        "type": "http response",
        "z": "6a1e2a5443d1ef06",
        "g": "1347d817486d5177",
        "name": "HTTP Out",
        "statusCode": "",
        "headers": {},
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "df3380b5df0c102e",
        "type": "websocket in",
        "z": "6a1e2a5443d1ef06",
        "g": "734f1e04df832bc3",
        "name": "Websocket IN",
        "server": "8d108b6fe6b9bd17",
        "client": "",
        "x": 150,
        "y": 270,
        "wires": [
            [
                "acf91b1ca16a05cd"
            ]
        ]
    },
    {
        "id": "2d3332694e91b9ef",
        "type": "websocket out",
        "z": "6a1e2a5443d1ef06",
        "g": "734f1e04df832bc3",
        "name": "WS Out",
        "server": "8d108b6fe6b9bd17",
        "client": "",
        "x": 480,
        "y": 270,
        "wires": []
    },
    {
        "id": "44bb17f39e84b03f",
        "type": "change",
        "z": "6a1e2a5443d1ef06",
        "g": "0dee80653370f917",
        "name": "PONG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PONG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "a5fd560d66c3bd72"
            ]
        ]
    },
    {
        "id": "acf91b1ca16a05cd",
        "type": "change",
        "z": "6a1e2a5443d1ef06",
        "g": "734f1e04df832bc3",
        "name": "PONG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PONG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 270,
        "wires": [
            [
                "2d3332694e91b9ef"
            ]
        ]
    },
    {
        "id": "edd9e9fe461e3454",
        "type": "change",
        "z": "6a1e2a5443d1ef06",
        "g": "1347d817486d5177",
        "name": "PONG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PONG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "11728fcf8a3ecd97"
            ]
        ]
    },
    {
        "id": "c8d3afccbd76310d",
        "type": "change",
        "z": "6a1e2a5443d1ef06",
        "g": "0b46ce431606c4bd",
        "name": "PONG",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PONG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 450,
        "wires": [
            [
                "2270983f9675ee59"
            ]
        ]
    }
]
